[submodule "Starling-Framework"]
	path = Starling-Framework
	url = https://github.com/PrimaryFeather/Starling-Framework.git
[submodule "Feathers"]
	path = Feathers
	url = https://github.com/joshtynjala/feathers.git
[submodule "Away3D"]
	path = Away3D
	url = https://github.com/away3d/away3d-core-fp11.git
